.baseButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: $white;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  color: $brand-primary;
  min-width: 240px;
  padding: 17px 30px;
  border-radius: 4px;
}

.baseButton--onWhite {
  background-color: $brand-primary;
  color: $white;

  .baseButton__icon > path {
    stroke: $white;
  }
}


.baseButton__text {
  margin-right: 5px;
}

@media all and (max-width: 1024px) {
  .baseButton {
    width: 100%;
    color: $black;
  }

  .baseButton__icon > path {
    stroke: $black;
  }

  .baseButton--onWhite {
    background-color: $white;
    color: $black;

    .baseButton__icon > path {
      stroke: $black;
    }
  }
}
