.baseGroupLogo {
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% + 14px);
    width: 2px;
    height: 100%;
    border-radius: 1px;
    background-color: $white;
  }
}

.baseGroupLogo__link {
  height: 20px;
}

.baseGroupLogo__link--sravni {
  padding-right: 42px;
}

.baseGroupLogo__logo {
  height: 100%;
  width: auto;
}

@media all and (max-width: 1024px) {
  .baseGroupLogo__link {
    height: 16px;
  }
}
