.footer {
  padding: 8px 0 60px;
}

.footer__container,
.footer__shareList,
.footer__shareItem,
.footer__shareLink {
  display: flex;
  align-items: center;
}

.footer__descr {
  margin-right: 10px;
}

.footer__shareItem {
  &:hover {
    .footer__shareLink {
      background-color: rgba(251, 251, 249, 0.2);
    }
  }
}

.footer__shareLink {
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

@media all and (max-width: 1024px) {
  .footer {
    padding: 0 0 20px;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__descr {
    margin: 0 0 15px;
    opacity: 0.7;
  }

  .footer__shareItem {
    &:not(:last-child) {
      margin-right: 15px;
    }

    &:hover {
      .footer__shareLink {
        background-color: $white;
      }
    }
  }

  .footer__shareLink {
    background-color: $white;

    svg > path {
      fill: $brand-primary;
    }
  }
}
